---
name: Build
"on": push

permissions:
  contents: read

jobs:
  unittests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: 'maven'
      - name: Maven Build
        run: >
             mvn
             --batch-mode
             --strict-checksums
             --show-version
             verify
             javadoc:javadoc
